$green: #51eb51;
$color-background: #fffffe;
$color-headline: #2b2c34;
$color-stroke: #2b2c34;
$color-main: #fffffe;
$color-highlight: #6246ea;
$color-secondary: #d1d1e9;
$color-tertiary: #e45858;

$h1-font-size: 2.4rem;
$h2-font-size: 1.9rem;
$h3-font-size: 1.7rem;
$text-font-size: 1.45rem;
$text-font-size-0: 1.6rem;
