.header {
  height: 6rem;
  font-size: $text-font-size;
  font-weight: 500;
  background-color: $white;

  box-shadow: 0 0.1rem 0.3rem rgba($black, 0.12), 0 0.1rem 0.2rem rgba($black, 0.24);

  &__content-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-text {
    font-size: 3rem;
    color: $black;
    cursor: pointer;
  }

  &__nav {
  }

  &__nav-list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link,
  &__link-sign-in {
    color: rgba($black, 0.7);
    transition: 0.2s color;
    &:hover {
      color: $black;
    }
  }

  &__list-item-auth:first-child {
    margin-right: 1.2rem;
  }

  &__link-sign-in,
  &__link-sign-up,
  &__link-sign-out {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: opacity 0.2s;
  }

  &__link-sign-in {
  }

  &__link-sign-up,
  &__link-sign-out {
    background-color: $dark-blue;
    color: $white;
    &:hover {
      opacity: 0.8;
    }
  }

  &__user {
    outline: none;
    border: none;
    background-color: $white;
    vertical-align: middle;
    cursor: pointer;
    &:hover i {
      color: $yellow;
    }
  }

  &__user i {
    display: block;
    font-size: 2.5rem;
    color: #ccc;
    transition: color 0.2s;
  }

  &__user img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
}
