*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Baloo Chettan 2", Arial;
  box-sizing: border-box;
  background-color: $white;
}

#root {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

::selection {
}
