.countdownTimer {
  padding: 2rem;
  border-radius: 0.3rem;
  @include box-shadow;

  &__title {
    text-align: center;
    color: $yellow;
  }

  &__subtitle {
    color: $grey;
    margin-left: 6.1rem;
  }

  &__units-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2rem auto;
    border-radius: 0.3rem;
    @include box-shadow;
  }

  &__unit-item {
    color: $yellow;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    position: relative;
    width: 10rem;
    height: 10rem;
  }

  &__unit-label {
    font-size: $text-font-size;
    color: $grey;
  }

  &__datetime span,
  &__address span,
  &__description span {
    color: $grey;
  }

  &__datetime {
    text-align: center;
  }
}
