@import '../../sass/variables';
@import '../../sass/mixins';

.section-user-account {
  width: 100%;
  margin: 5rem auto;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: initial;
  }

  justify-content: center;

  &__form {
    display: block;
    width: 50rem;
    padding: 4rem;
    border-radius: 0.5rem;

    @include respond(tab-port) {
      margin-bottom: 5rem;
      width: 100%;
    }
    background-color: $color-main;

    @include box-shadow-3;
  }

  &__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($color-stroke, 0.9);
    z-index: 100;
  }

  &__user-photo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;

    @include respond(tab-port) {
      width: 100%;
      margin: 5rem 0;
    }

    padding: 4rem;
    border-radius: 0.5rem;
    background: $color-main;
    @include box-shadow-3;
  }

  &__user-photo-box {
    position: relative;
    width: 30rem;
    height: 30rem;
    @include respond(tab-port) {
      width: 40rem;
      height: 40rem;
    }
    @include respond(phone) {
      width: 100%;
      height: 32rem;
    }
  }

  &__user-photo-box img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
  }

  &__user-photo-box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 10rem;
    color: $color-secondary;
  }

  &__form-change-password {
    @include position-absolute-center;
    width: 50rem;
    @include respond(phone) {
      width: 80%;
    }
    padding: 4rem;
    background-color: $color-main;
    border-radius: 0.5rem;
    z-index: 3000;
    background: $color-main;
  }

  &__input-file-wrapper {
    width: 100%;
    margin-top: 1rem;
    font-size: $text-font-size;
  }

  &__input-file-input {
    display: block;
    margin-top: 0.5rem;
  }

  &__message {
    font-size: $text-font-size;
    margin-left: 2.5rem;
    &--green {
      color: $green;
    }
    &--red {
      color: $color-tertiary;
    }
  }
}
