.section-home {
  height: calc(100vh - 6rem);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text-box {
  }

  &__title {
    text-align: center;
    color: $black;
  }

  &__span-1,
  &__span-2 {
    display: inline-block;
  }

  &__span-1 {
    font-size: 3.6rem;
  }

  &__span-2 {
    font-size: 3rem;
    color: $grey;
  }

  &__img {
    display: block;
    height: 100%;
    margin-right: -15rem;
  }
}
