@import '../../sass/variables';
@import '../../sass/mixins';

.section-home {
  width: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    margin-right: 15rem;

    @include respond(tab-port) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    text-align: center;
    color: $color-headline;
  }

  &__span-1,
  &__span-2 {
    display: inline-block;
  }

  &__span-1 {
    font-size: 3.6rem;
    @include respond(tab-port) {
      display: block;
    }
  }

  &__span-2 {
    display: block;
    font-size: 3rem;
    color: $color-stroke;
    font-weight: 300;
  }

  &__img {
    @include respond(tab-port) {
      display: none;
    }
    display: block;
    height: auto;
    margin-right: 0;
  }
}
